<tr class="table-entry">
    <td class="error-message">
        <%= message %>
    </td>
    <td class="error-stack">
        <%= stack %>
    </td>
    <td class="error-date">
        <%= date %>
    </td>
    <td class="error-time">
        <%= time %>
    </td>
</tr>