<!-- nav bar -->
<nav class="navbar navbar-expand-md bg-dark navbar-dark">
	<!-- Brand -->
	<div class="container">
		<a class="navbar-brand" href="/">YouTube API</a>

		<div class="dropdown">
			<button class="btn btn-secondary" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
				<i class="fa fa-cog icon" aria-hidden="true"></i>
			</button>
			<div class="dropdown-menu" style="right: 0; left: auto;" aria-labelledby="dropdownMenuButton">
				<a class="dropdown-item" id="shutdown-menu-item" href="#">Shutdown</a>
			</div>
		</div>
	</div>
</nav>