<tr class="table-entry">
    <td class="log-method">
        <%= method %>
    </td>
    <td class="log-url">
        <%= url %>
    </td>
    <td class="log-date">
        <%= date %>
    </td>
    <td class="log-time">
        <%= time %>
    </td>
</tr>