.logs-page-content {
	padding-top: 3%;
}

.logs-container {
	max-height: 800px;
	overflow-y: scroll;
	overflow-x: hidden;
}

.log-entry {
	position: relative;
	list-style-type: none;
	background-color: white;
	padding: 3px 10px;
	margin: 2px 0;
}

.log-entry-url {
	position: absolute;
	left: 17%;
}

.log-entry-time {
	float: right;
}