form {
	text-align: center;
}

input {
	display: block;
	margin: 5px auto;
	padding: 0 3px;
	width: 26vw;
	min-width: 220px;
	max-width: 310px;
	line-height: 30px;
}

.btn-info {
	margin: 10px auto;
	padding: 8px 40px;
}