<!DOCTYPE html>
<html lang="en">

<head>
	<% include ../partials/head %>
	<title>Upload Token | YouTube API</title>
	<script type="text/javascript" src="/public/js/add-token.js"></script>
</head>

<body>
	<header>
		<% include ../partials/header %>
	</header>

	<main>
		<!-- content -->
		<div class="container cust-container">
			<form id="add-token-form">
				<a href="<%= url %>" target="_blank">Authentication URL</a>
				<input type="text" name="code" id="code" placeholder="Paste code here..." required>
				<input type="text" name="name" id="name" placeholder="Name of token..." required>
				<button type="submit" class="btn btn-primary">Submit</button>
			</form>
		</div>
	</main>

	<footer class="footer">
		<%- include('../partials/footer', footer); %>
	</footer>
</body>

</html>