<!DOCTYPE html>
<html lang="en">

<head>
	<% include ../partials/head %>
		<title>Errors | YouTube API</title>
		<link rel="stylesheet" href="/public/css/errors.css">
		<link rel="stylesheet" href="/public/css/table-style.css">
		<script type="text/javascript" src="/public/js/errors.js"></script>
</head>

<body>
	<header>
		<% include ../partials/header %>
	</header>

	<main>
		<!-- content -->
		<div class="container main-content">
			<div class="errors-container">
				<h1>Errors</h1>
				<table class="table" id="errors-table">
					<thead>
						<tr>
							<th scope="col">Message</th>
							<th scope="col">Stack</th>
							<th scope="col">Date</th>
							<th scope="col">Time</th>
						</tr>
					</thead>
					<tbody id="errors-table-body">
						<% for(var i = 0; i < errors.length; i++) { %>
							<%- include('../partials/error-template', errors[i]); %>
						<% } %>
					</tbody>
				</table>
				<button class="btn btn-primary delete-errors-button" id="delete-errors-button">Clear Errors</button>
			</div>
		</div>
	</main>

	<footer class="footer">
		<%- include('../partials/footer', footer); %>
	</footer>
</body>

</html>