<!DOCTYPE html>
<html lang="en">

<head>
	<% include ../partials/head %>
		<title>Logs | YouTube API</title>
		<link rel="stylesheet" href="/public/css/logs.css">
		<link rel="stylesheet" href="/public/css/table-style.css">
		<script type="text/javascript" src="/public/js/logs.js"></script>
</head>

<body>
	<header>
		<% include ../partials/header %>
	</header>

	<main>
		<!-- content -->
		<div class="container main-content">
			<div class="logs-page-content">
				<h1>Logs</h1>
				<table class="table" id="logs-table">
					<thead>
						<tr>
							<th scope="col">Method</th>
							<th scope="col">Url</th>
							<th scope="col">Date</th>
							<th scope="col">Time</th>
						</tr>
					</thead>
					<tbody id="logs-table-body">
						<% for(var i = 0; i < logs.length; i++) { %>
							<%- include('../partials/log-template', logs[i]); %>
						<% } %>
					</tbody>
				</table>
				<button class="btn btn-primary delete-logs-button" id="delete-logs-button">Clear Logs</button>
			</div>
		</div>
	</main>

	<footer class="footer">
		<%- include('../partials/footer', footer); %>
	</footer>
</body>

</html>