<!DOCTYPE html>
<html lang="en">

<head>
	<% include ../partials/head %>
		<title>Shutdown | YouTube API</title>
</head>

<body>
	<header>
		<% include ../partials/header %>
	</header>

	<main>
		<!-- content -->
		<div class="container main-content">
			<div class="row">
				<h1>Goodbye...</h1>
			</div>
		</div>
	</main>

	<footer class="footer">
		<%- include('../partials/footer', footer); %>
	</footer>
</body>

</html>